<suite name="Parallel Suite" parallel="tests" thread-count="2">
    <test name="ChromeTests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.solvd.laba.LoginUserTest"/>
            <class name="com.solvd.laba.ProductsPageTest"/>
        </classes>
    </test>
    <test name="FirefoxTests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.solvd.laba.UserRegistrationTest"/>
            <class name="com.solvd.laba.ContactUsTest"/>
            <class name="com.solvd.laba.LogoutTest"/>
        </classes>
    </test>
</suite>
